.board {
    width: 24rem;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .board {
        width: 18rem;
    }
}

.board > h2 {
    display: flex;
    justify-content: center;
}

.board > p {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.squares {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: center;
}